* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fff;
}

button {
    cursor: pointer;
}

.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: #b19b73;
    color: #fff;
    text-decoration: none;
    padding: 1rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.2s;
}

.navbar a:hover {
    color: #007BFF;
}

.primeirosLinks {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.primeirosLinks ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    align-items: center;
}

.primeirosLinks li {
    margin: 0;
    padding: 0;
}

.primeirosLinks a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.primeirosLinks h1 {
    margin-bottom: 1rem;
}

.profile-container h1 {
    align-self: flex-start;
    margin-bottom: 2rem;
    border-bottom: 1px solid #fff;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #b19b73;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    gap: 2rem;
}

.profile-info {
    display: flex;
    gap: 10rem;
    background-color: #b19b73;
    padding-bottom: 5rem;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffc107;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.user-details {
    margin-top: 3rem;
    text-align: left;
    background-color: #b19b73;
}

.user-details p {
    margin-top: 1rem;
    text-align: left;
    background-color: #b19b73;
}

.user-details h4 {
    margin-top: 1rem;
    text-align: left;
    background-color: #b19b73;
}

.change-password-container {
    margin-top: 5rem;
    background-color: #b19b73;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    text-align: left;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.change-password-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.change-password-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    color: #fff;
}

.change-password-form button {
    align-self: flex-end;
    padding: 0.75rem;
    background-color: #ad61199a;
    color: #fff;
    border: none;
    border-radius: 15rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    max-width: 150px;
}

.change-password-container h2 {
    margin-bottom: 1rem;
    align-self: self-start;
    border-bottom: 1px solid #fff;
}

footer {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: #b19b73;
    color: #fff;
}

.user-menu {
    position: relative;
    display: inline-block;
    padding: 1rem;
    margin-left: auto;
    position: relative;
}

#menu {
    padding: 10px;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #444;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    bottom: -10px;
    color: white;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 10px;
    background-color: #000;
    min-width: 160px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.dropdown a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #333;
}

.dropdown hr {
    border: none;
    border-top: 1px solid #444;
    margin: 5px 0;
}

.show {
    display: block;
}